<div class="container">
  <div *ngFor="let item of list; let i = index;" class="item">
      <mat-checkbox [(ngModel)]="item.isDone"></mat-checkbox>
      <div class="details">
        <div class="name">{{item.name}}</div>
        <div class="description">{{item.description}}</div>
      </div>
      <mat-icon class="material-icons delete" (click)="deleteItem(i)">delete</mat-icon>
  </div>
  <button class="createItem" mat-fab (click)="addItem()">
    <mat-icon class="material-icons">add</mat-icon>
  </button>
</div>
